*.ipynb_checkpoints
*.fits
*.png
*.jpg
*.pyc
*~
*.pdf
*.pyc
*.csv
*_lambdaplot256000.txt
*.DS_Store
*.xlsx
.idea
.coverage
randomseed
Spectractor.egg-info/
build/
dist/
*simulations/
outputs/
docs/_build
*_wcs/
*.bak
*.backup
*.h5
