numpy>1.15
scipy
matplotlib
pandas
pyfftw
numexpr
astropy>=3.2
photutils
astroquery
coloredlogs
scikit-image
pysynphot
h5py==2.8.0
emcee==3.0rc2
tqdm
mpi4py
schwimmbad
iminuit
coverage
configparser
coveralls
deprecated
