numpy>1.15
scipy
matplotlib>3.1
pandas
llvmlite #==0.29.0
numba #==0.44.1
astropy>=3.2
photutils>=0.7
astroquery
coloredlogs
scikit-image
h5py #==2.8.0
emcee #==3.0rc2
tqdm
mpi4py
schwimmbad
iminuit>=2
coverage>=3.6 # <5
configparser
coveralls
pysynphot
deprecated
pyyaml
nose
