name: build_and_test

on:
  push:
    branches:
      - main
      - lsst-dev
      - master
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.11"
          channels: conda-forge,defaults
          show-channel-urls: true
          activate-environment: test

      - name: Install system dependencies
        shell: bash -l {0}
        run: |
          conda install -y astrometry rubin-libradtran mpi4py

      - name: Install Spectractor with dependencies
        shell: bash -l {0}
        run: |
          pip install -v -e ".[dev]"

      - name: Download test data
        shell: bash -l {0}
        run: |
          wget -r -q -nc http://data.astrometry.net/5000/index-5002-24.fits
          wget -r -q -nc http://data.astrometry.net/5000/index-5000-40.fits
          mv data.astrometry.net/5000/index-*.fits $CONDA_PREFIX/data/
          export ASTROMETRYNET_DIR=$CONDA_PREFIX

      - name: List installed packages
        shell: bash -l {0}
        run: |
          conda list
          pip list -v

      - name: Run full chain test
        shell: bash -l {0}
        run: |
          pytest tests/test_fullchain.py --log-cli-level=INFO --cov --cov-report lcov

      - name: Run pytests
        shell: bash -l {0}
        run: |
          pytest tests/test_extractor.py --log-cli-level=INFO --cov --cov-append --cov-report lcov
          pytest tests/test_simulator.py --log-cli-level=INFO --cov --cov-append --cov-report lcov
          pytest tests/test_utils.py --log-cli-level=INFO --cov --cov-append --cov-report lcov
          pytest tests/test_fitter.py --log-cli-level=INFO --cov --cov-append --cov-report lcov
          pytest tests/test_multispectra.py --log-cli-level=INFO --cov --cov-append --cov-report lcov

      - name: Run doctests and coverage
        shell: bash -l {0}
        run: pytest spectractor tests/test_fullchain.py -v --cov --cov-append --cov-report lcov --doctest-modules spectractor --doctest-continue-on-failure --ignore=spectractor/parameters.py
        continue-on-error: true
        
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov